.rc-time-picker-input .form-control[readonly] {
  /* background-color: #e9ecef; */
  opacity: 1;
}
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  
  .selectdiv:after {
      content: "\f078";
      color: #707070;
      right: 30px;
      top:36px;
      height: 5px;    font-size: 12px;
      position: absolute;
      pointer-events: none;
  }
  .react-datepicker-wrapper,
  .react-datepicker__input-container,
  .react-datepicker__input-container input {
      display: block;
      width: 100%;
  }
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }

  .user-icon-home{
    max-width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
  }
  .member-profile-list{
    height: 50px;
    width: 50px;
    border-radius: 15px;
  }
  

  .member_pic_preview {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    height: 245.5px !important;
    width: 250px;
    border-radius: 20px;
}

.rc-time-picker-input {
  color: unset !important;
  border: unset !important;
  font-size: 15px !important;
  padding: unset !important;
}
  
  .no_image{
     height: 200px;
     widows: 253px;
     border-radius: 15px;
   }

   .location-icon{
    position: absolute;
    color: gray;
    float: right;
    top: 70%;
    height: 100%;
    right: 20px;
    z-index: 1;
    max-height: 25px;
    transform: translateY(-48%);
   }

   .google-places-autocomplete__suggestion {
    padding: 6px 15px !important;
   }

   .google-places-autocomplete__suggestion:hover {
    background: #eff3f9;
    cursor: pointer;
   }

   .ride_image{
    width: 248px;
    height: 226px;
    border-radius: 15px;
   }
   .css-yk16xz-control{
    color: #585858;
    font-family: 'SF UI Display Light';
    font-size: 16px;
    border-radius: 15px !important;
   }

   .react-datepicker-popper{
    z-index: 9 !important;
   }

   .user-profile-image{
    height: 163px;
    width: 173px;
    border-radius: 15px;
   }
   .header-user-icon{
     height: 40px;
     width: 40px;
     border-radius: 50%;
   }
   .club_img{
     height: 30px;
     width: 50px;
   }
   
  /* custom css for popup starts*/
  .popup-content {
   position: relative;
    background:none !important;
    width: 1000px !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 1.75rem auto !important;
  } 
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0 !important;
  }
  /* custom css for popup ends*/
  /* custom css for preview uploaded match pictures starts*/
  .uploadedImage > div > div {
    display: inline-block;
    width: 22%;
    padding: 0 !important;
    text-align: center;
    border: 1px solid #ddd;
    margin: 10px;
  }
  /* custom css for preview uploaded match pictures ends*/

  .match-img{
    height: 245px;
    width: 430px;
    border-radius: 15px;
  }

  .profile-popup {
    background: #ffffff;
    width: 400px;
    height: 300px;
  }
  .member_photo{
    height: 30px;
    border-radius: 50%;
  }
  .sail_obj_image{
    height: 26px;
    width: 27px;
    
  }

  .hour_table th, .hour_table td{
    text-align: center;
  }

  .react-autosuggest__container {
    position: relative;
  }

  .modal-body1 {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }

  .close1{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }

  .react-autosuggest__input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    color: #585858;
    font-family: 'SF UI Display Light';
    font-size: 16px;
    border-radius: 15px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  #notificationContainer {
    /* background-color: #fff;
    border: 1px solid rgba(100,100,100,.4);
    overflow: visible;
    width: 400px;
    z-index: 1080;
  
    display: block;
    position: absolute;
    right: 30%;
    top: 18%; */

  }

  
#notificationTitle {
  text-align: center;
  z-index: 1000;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #ddd;
  color: #0091be;
  cursor: pointer;
 
}
#notificationsBody {
  padding: 5px 0px;
  max-height: 300px;
  overflow-y: auto;
}

.notifications ul li:last-child {
  border-bottom: none;
}
.notifications ul li {
  border-bottom: 1px solid #ececec;
  width: 100%;
  padding: 10px 0;
}
.display_noti_bg {
  background-color: #fff;
}

.search_title{
  padding:10px;
}

.search_all{
  color: #0091be !important;
}

.multiple-image-preview {
  position: relative;
}

.multiple-image-preview:hover .multiple-image-render {
  opacity: 0.3;
}

.multiple-image-preview:hover .multiple-middle-text {
  opacity: 1;
}

.multiple-image-render {
  border-radius: 20px;
  height: 100px;
  width: 150px;
  margin: 5px;
}

.multiple-middle-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.multiple-button-text {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 16px;
}

.close-button {
    right: -40px;
    position: absolute;
    top: -20px;
    color: #fff;
    background: #ff4081;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    width: 20px;
    height: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

.group-image-imp {
  width: 160px !important;
  height: 160px !important;
}

.liked{
  color:red;

}

.create_post_modal{
  margin: 0 auto
   !important;
}
.post_select_images{
  height: 100px;
  width: 100px;
  margin: 5px;
}

.post-close-button{
  right: -50px;
    position: absolute;
    top: -50px;
    color: #fff;
    background: #ff4081;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    width: 20px;
    height: 20px;
}
.InfiniteCarouselArrowNext {
  right: 0px !important;
}
.InfiniteCarouselArrowPrev {
  left: 0px !important;
}

.postContainer_Modal{
  padding: 20px !important;
  border: none;
}
.uploadImg{
  color: #1c1e21 !important;
    cursor: pointer !important;
    background: #ebedf0 !important;
    width: 41% !important;
    padding: 3px !important;
    border-radius: 20px !important;
    font-weight: 700 !important;
}
/* .postBtn {
  float: right !important;
  margin-bottom: 15px !important;
  margin-right: 15px !important;
  width: auto !important;
} */

.InfiniteCarouselArrowPrev{outline: 0 !important;}
.InfiniteCarouselArrowNext{outline: 0 !important;}

.closeBtn{
  outline: 0 !important;
}

.comment-file-name{
  float: left;
}
.post-comment{
  margin-left: 10px;
}

.post-cmnt-icon{
  float: right;
}

.replyUserComments{
  cursor: pointer;
}

.postCommentsByUserReply{
  margin-top: 10px !important;
}
/* .commentUserImg{
  margin-top: 10px !important;
} */

/* #postInputSection{
  width: 95% !important;
} */
/* 
#postInputSection{
  
} */


.message-notification-hidden {
  visibility: hidden;
}

.location-modal {
  display: unset;
}

.location-modal-dialog {
  position: relative;
  width: auto;
  margin: auto !important;
}

.set-location-btn-margin {
  margin: unset !important;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 15px !important;
  line-height: 25px;
  height: 35px;
  width: 260px !important;
  outline: none;
}

.Blog_text{
  background: rgba(0,0,0,0.4);
   border-radius: 12px;
   position: absolute;
   bottom: 10px;
   left: 27px;
   padding: 10px;
   width: 86%;

 }
 .Blog_text h4{
   font-size: 16px;
       margin: 0;
   text-align: left;
   color: #fff;

 }
 .Blog_text p{
   font-size: 12px;
       margin: 0;
   text-align: left;
   color: #AFAFAF;
 }
.card_home:hover{
 color: #fff;
}
.modal_blurTitle{
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
  margin: 0px;

  font-weight: bold
}
.ListBlur{
  padding: 0px 10px 0px 35px;
}
.ListBlur li{
  font-size: 15px;
  
}
.blurModalDialog{
  max-width: 750px;
}
.BlurModalContent{
  padding: 20px;
}
.GoTOProfilePageBtn{
  background-color: #002E73;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 34px;
  display: block;
}
.IntroVideotag{
  background: #38a0f9;
  color: #fff;
  border: none;
  padding: 7px 20px;
}
.interestBlr{
  font-size: 17px;
  padding: 10px 0px;
  margin: 0;
}
#modalBlur{
   filter: blur(0px);
}
.introMOdal {
  display: flex;
}
.blurEffect {
  filter: blur(7px);
}

.blogCardsSize {
  width: 360px;
  height: 240px;
  border-radius: 15px;
}
.boatListEditProfilePage {
  display: flex;
  justify-content: space-between;
}
.paginationBottom{
	width: 40%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
.paginationBottom .page-link{
	font-size: 14px;
	color: #242424;
	padding: 6px;
    border: 1px solid #73AA4A;
    margin: 0px 4px;
    width: 31px;
    height: 31px;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border: none;
    font-size: 20px;
    padding: 3px;
}
.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: none;
    font-size: 20px;
    padding: 3px;
}
.page-item:nth-child(4) .page-link {
	width: 62px;
}
.passwordColor {
  color: red;
  font-style: italic;
  font-size: 14px;
}
.videoReact iframe{
  border-radius: 20px;
}
.player-popup div {
  margin: 0 auto;
}
.videoModel {
  max-width: 700px;
  margin: auto;
}
.video-error {
  font-size: 13px;
  font-style: italic;
  padding-left: 7px;
  color: red;
}